In [1]:
import requests
from bs4 import BeautifulSoup
import re 
import pandas as pd 
import json
import time

In [2]:
url = 'https://www.the-numbers.com/weekly-box-office-chart'

In [3]:
data = requests.get(url)

In [4]:
data_set = BeautifulSoup(data.text, 'html.parser')

In [10]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
weekly_df = pd.read_html(html.text)[1]
weekly_df.columns = list(df.iloc[0].values)

In [11]:
weekly_df.head()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
0,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
1,2,(2),Good Boys,Universal,"$14,451,735",-13%,3458,"$4,179","$61,459,700",3
2,3,(3),The Lion King,Walt Disney,"$10,684,145",-9%,3190,"$3,349","$524,913,439",7
3,4,(6),Fast & Furious Presents: Ho…,Universal,"$9,719,795",-14%,2972,"$3,270","$160,532,145",5
4,5,(4),Overcomer,Sony Pictures,"$9,409,534",-19%,1827,"$5,150","$20,956,163",2

In [12]:
weekly_df.tail()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
76,77,(86),Christ Stopped at Eboli,Rialto Pictures,$678,+47%,1,$678,"$75,839",2059
77,78,(77),Diamantino,Kino Lorber,$603,-63%,1,$603,"$70,088",15
78,79,(73),Piranhas,Music Box Films,$303,-87%,2,$152,"$19,368",5
79,80,(76),The Mountain,Kino Lorber,$153,-92%,1,$153,"$51,684",6
80,81,(-),Hesburgh,OâMalley Creadon …,$112,NaN,1,$112,"$197,560",19

In [24]:
dates = pd.date_range(start='8/23/2019', periods=2, freq='W-FRI')
dates

DatetimeIndex(['2019-08-23', '2019-08-30'], dtype='datetime64[ns]', freq='W-FRI')

In [ ]:
num = 23 
older_charts = 'https://www.the-numbers.com/box-office-chart/weekly/2019/08/{num}'

In [ ]:

# df['week_from_loop'] = '2018/01/07'
df.head()


# dates[1].strftime('%Y/%m/%d') # datetime object to a string
# # .strptime (string to datetime object)

# # 2019/08/23
# dates_to_get = ["https://www.the-numbers.com/box-office-chart/weekly/" + 
#          x.strftime('%Y/%m/%d') for x in dates]

In [25]:
url = 'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2016'

In [27]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
yearly_df = pd.read_html(html.text)[1]

In [29]:
yearly_df.tail()

,Rank,Movie,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare
95,96,Underworld: Blood Wars,"$81,209,222","$30,353,973","$50,855,249",37.38%
96,97,The Boss,"$78,652,207","$63,077,560","$15,574,647",80.20%
97,98,Manchester by the Sea,"$77,733,867","$47,695,371","$30,038,496",61.36%
98,99,Kubo and the Two Strings,"$77,548,122","$48,023,088","$29,525,034",61.93%
99,100,Mike and Dave Need Wedding Dates,"$75,898,100","$46,009,673","$29,888,427",60.62%

In [42]:
movies = yearly_df['Movie'][0]
print(movies.strip())
api_req = movies.strip(' ')
    
movies

Captain America: Civil War

'Captain America: Civil War'

In [45]:
CACW = f"http://www.omdbapi.com/?t={movies}&y=2016&apikey=b213361e"

In [46]:
CACW_req = requests.get(CACW)

In [50]:
CACW_req.text

'{"Title":"Captain America: Civil War","Year":"2016","Rated":"PG-13","Released":"06 May 2016","Runtime":"147 min","Genre":"Action, Adventure, Sci-Fi","Director":"Anthony Russo, Joe Russo","Writer":"Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Joe Simon (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by)","Actors":"Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan","Plot":"Political involvement in the Avengers\' affairs causes a rift between Captain America and Iron Man.","Language":"English, German, Xhosa, Russian, Romanian, Hindi","Country":"USA","Awards":"16 wins & 65 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.8/10"},{"Source":"Rotten Tomatoes","Value":"91%"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"7.8","imdbVotes":"597,664","imdbID":"tt3498820","Type":"movie","DVD":"13 Sep 2016","BoxOffice":"$408,080,554","Production":"Walt Disney Pictures","Website":"http://marvel.com/captainamerica#/home","Response":"True"}'