In [1]:
import requests
from bs4 import BeautifulSoup
import re 
import pandas as pd 
import json
import time

In [2]:
url = 'https://www.the-numbers.com/weekly-box-office-chart'

In [3]:
data = requests.get(url)

In [4]:
data_set = BeautifulSoup(data.text, 'html.parser')

In [10]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
weekly_df = pd.read_html(html.text)[1]
weekly_df.columns = list(df.iloc[0].values)

In [11]:
weekly_df.head()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
0,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
1,2,(2),Good Boys,Universal,"$14,451,735",-13%,3458,"$4,179","$61,459,700",3
2,3,(3),The Lion King,Walt Disney,"$10,684,145",-9%,3190,"$3,349","$524,913,439",7
3,4,(6),Fast & Furious Presents: Ho…,Universal,"$9,719,795",-14%,2972,"$3,270","$160,532,145",5
4,5,(4),Overcomer,Sony Pictures,"$9,409,534",-19%,1827,"$5,150","$20,956,163",2

In [12]:
weekly_df.tail()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
76,77,(86),Christ Stopped at Eboli,Rialto Pictures,$678,+47%,1,$678,"$75,839",2059
77,78,(77),Diamantino,Kino Lorber,$603,-63%,1,$603,"$70,088",15
78,79,(73),Piranhas,Music Box Films,$303,-87%,2,$152,"$19,368",5
79,80,(76),The Mountain,Kino Lorber,$153,-92%,1,$153,"$51,684",6
80,81,(-),Hesburgh,OâMalley Creadon …,$112,NaN,1,$112,"$197,560",19

In [58]:
dates = pd.date_range(start='1/1/2019', periods=55, freq='W-FRI')
dates

DatetimeIndex(['2019-01-04', '2019-01-11', '2019-01-18', '2019-01-25',
               '2019-02-01', '2019-02-08', '2019-02-15', '2019-02-22',
               '2019-03-01', '2019-03-08', '2019-03-15', '2019-03-22',
               '2019-03-29', '2019-04-05', '2019-04-12', '2019-04-19',
               '2019-04-26', '2019-05-03', '2019-05-10', '2019-05-17',
               '2019-05-24', '2019-05-31', '2019-06-07', '2019-06-14',
               '2019-06-21', '2019-06-28', '2019-07-05', '2019-07-12',
               '2019-07-19', '2019-07-26', '2019-08-02', '2019-08-09',
               '2019-08-16', '2019-08-23', '2019-08-30', '2019-09-06',
               '2019-09-13', '2019-09-20', '2019-09-27', '2019-10-04',
               '2019-10-11', '2019-10-18', '2019-10-25', '2019-11-01',
               '2019-11-08', '2019-11-15', '2019-11-22', '2019-11-29',
               '2019-12-06', '2019-12-13', '2019-12-20', '2019-12-27',
               '2020-01-03', '2020-01-10', '2020-01-17'],
              dtype='datetime64[ns]', freq='W-FRI')

In [ ]:
# num = 23 
# older_charts = 'https://www.the-numbers.com/box-office-chart/weekly/2019/08/{num}'

In [ ]:

# df['week_from_loop'] = '2018/01/07'
df.head()


# dates[1].strftime('%Y/%m/%d') # datetime object to a string
# # .strptime (string to datetime object)

# # 2019/08/23
# dates_to_get = ["https://www.the-numbers.com/box-office-chart/weekly/" + 
#          x.strftime('%Y/%m/%d') for x in dates]

In [54]:
years = range(2009,2020)

In [56]:
for year in years:
    url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}' 
    print(url)

https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2009
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2010
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2011
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2012
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2013
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2014
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2015
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2016
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2017
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2018
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2019

In [25]:
url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}'

In [77]:
year = 2016
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
yearly_df = pd.read_html(html.text)[1]

In [79]:
yearly_df['year'] = year

In [80]:
yearly_df.head(50)

,Rank,Movie,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare,year
0,1,Avengers: Endgame,"$2,795,466,365","$858,366,365","$1,937,100,000",30.71%,2016
1,2,The Lion King,"$1,599,137,780","$529,237,780","$1,069,900,000",33.10%,2016
2,3,Captain Marvel,"$1,126,129,839","$426,829,839","$699,300,000",37.90%,2016
3,4,Spider-Man: Far From Home,"$1,123,844,202","$388,120,898","$735,723,304",34.54%,2016
4,5,Toy Story 4,"$1,053,300,065","$431,810,752","$621,489,313",41.00%,2016
5,6,Aladdin,"$1,037,186,103","$354,801,322","$682,384,781",34.21%,2016
6,7,Fast & Furious Presents: Hobbs & Shaw,"$719,840,050","$164,340,050","$555,500,000",22.83%,2016
7,8,Ne Zha Zhi Mo Tong Xiang Shi,"$701,474,163","$3,470,710","$698,003,453",0.49%,2016
8,9,Liu Lang Di Qiu,"$692,163,684",NaN,"$692,163,684",NaN,2016
9,10,How to Train Your Dragon: The Hidden World,"$519,235,419","$160,799,505","$358,435,914",30.97%,2016
10,11,PokÃ©mon: Detective Pikachu,"$429,685,022","$144,105,346","$285,579,676",33.54%,2016
11,12,The Secret Life of Pets 2,"$425,211,217","$158,111,845","$267,099,372",37.18%,2016
12,13,Alita: Battle Angel,"$402,971,268","$85,710,210","$317,261,058",21.27%,2016
13,14,Godzilla: King of the Monsters,"$383,299,915","$110,500,138","$272,799,777",28.83%,2016
14,15,Shazam!,"$363,664,533","$140,371,656","$223,292,877",38.60%,2016
15,16,Dumbo,"$347,866,307","$114,766,307","$233,100,000",32.99%,2016
16,17,Feng Kuang De Wai Xing Ren,"$326,150,303",NaN,"$326,150,303",NaN,2016
17,18,John Wick: Chapter 3 â Parabellum,"$319,014,703","$171,002,126","$148,012,577",53.60%,2016
18,19,Once Upon a Timeâ¦in Hollywood,"$310,568,392","$134,368,392","$176,200,000",43.27%,2016
19,20,Fei Chi Ren Sheng,"$255,832,826",NaN,"$255,832,826",NaN,2016
20,21,Us,"$255,206,930","$175,006,930","$80,200,000",68.57%,2016
21,22,Men in Black: International,"$252,859,118","$79,790,972","$173,068,146",31.56%,2016
22,23,Dark Phoenix,"$246,356,895","$65,845,974","$180,510,921",26.73%,2016
23,24,Glass,"$245,303,505","$111,035,005","$134,268,500",45.26%,2016
24,25,Lie huo ying xiong,"$243,180,757","$290,217","$242,890,540",0.12%,2016
25,26,Annabelle Comes Home,"$223,130,723","$73,608,458","$149,522,265",32.99%,2016
26,27,The LEGO Movie 2: The Second Part,"$190,131,036","$105,806,508","$84,324,528",55.65%,2016
27,28,Rocketman,"$189,469,652","$96,368,160","$93,101,492",50.86%,2016
28,29,It: Chapter Two,"$185,062,152","$91,062,152","$94,000,000",49.21%,2016
29,30,The White Storm 2: Drug Lords,"$184,390,774",NaN,"$184,390,774",NaN,2016
30,31,Escape Room,"$155,313,078","$57,000,756","$98,312,322",36.70%,2016
31,32,Yesterday,"$137,078,409","$73,286,650","$63,791,759",53.46%,2016
32,33,Extreme Crisis,"$124,169,976",NaN,"$124,169,976",NaN,2016
33,34,Yin He Bu Xi Ban,"$121,697,988",NaN,"$121,697,988",NaN,2016
34,35,The Curse of La Llorona,"$121,661,395","$54,733,739","$66,927,656",44.99%,2016
35,36,Geukhanjikeob,"$120,341,426","$1,565,885","$118,775,541",1.30%,2016
36,37,The Upside,"$119,024,536","$108,235,497","$10,789,039",90.94%,2016
37,38,Fan Tang Feng Bao 4,"$115,687,407",NaN,"$115,687,407",NaN,2016
38,39,Wonder Park,"$115,115,984","$45,216,793","$69,899,191",39.28%,2016
39,40,Tenki no Ko,"$110,525,704",NaN,"$110,525,704",NaN,2016
40,41,Pet Sematary,"$109,501,146","$54,724,696","$54,776,450",49.98%,2016
41,42,Boonie Bears:Blast Into The Past,"$106,344,552",NaN,"$106,344,552",NaN,2016
42,43,The Angry Birds Movie 2,"$104,388,353","$38,088,353","$66,300,000",36.49%,2016
43,44,Shi Tu Xing Zhe 2 Die Ying Xing Dong,"$101,735,280","$283,291","$101,451,989",0.28%,2016
44,45,Angel Has Fallen,"$97,450,658","$53,450,658","$44,000,000",54.85%,2016
45,46,The Hustle,"$94,677,601","$35,417,038","$59,260,563",37.41%,2016
46,47,XÄ«n xÇjÃ¹ zhÄ« wÃ¡ng,"$92,796,952",NaN,"$92,796,952",NaN,2016
47,48,Scary Stories to Tell in the Dark,"$88,823,662","$62,123,662","$26,700,000",69.94%,2016
48,49,Five Feet Apart,"$88,495,642","$45,729,221","$42,766,421",51.67%,2016
49,50,Gisaengchung,"$86,691,643",NaN,"$86,691,643",NaN,2016

In [66]:
movies = yearly_df['Movie']
year_2016_list = []
for api_req in movies:
    movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"
    try:
        movie_ratings = requests.get(movie_name)
        year_2016_list.append(movie_ratings.text)
    except:

Captain America: Civil War
Rogue One: A Star Wars Story
Finding Dory
Zootopia
The Jungle Book
The Secret Life of Pets
Batman v Superman: Dawn of Justice
Fantastic Beasts and Where to Find Them
Deadpool
Suicide Squad
Doctor Strange
Moana
Sing
Mei Ren Yu
X-Men: Apocalypse
Kung Fu Panda 3
Warcraft
La La Land
Jason Bourne
Ice Age: Collision Course
Independence Day: Resurgence
Kimi no na wa
The Angry Birds Movie
The Legend of Tarzan
Trolls
Star Trek Beyond
The Great Wall
Now You See Me 2
Resident Evil: The Final Chapter
The Conjuring 2: The Enfield Poltergeist
Passengers
Miss Peregrineâs Home for Peculiar Children
Dangal
Alice Through the Looking Glass
Teenage Mutant Ninja Turtles: Out of the Shadows
Assassinâs Creed
Sully
Hidden Figures
Ghostbusters
Inferno
Central Intelligence
Me Before You
Bridget Jonesâs Baby
Arrival
The BFG
London Has Fallen
Xi You Ji zhi Sun Wu Kong San Da Bai Gu Jing
Storks
Bad Moms
The Girl on the Train
Operation Mekong
The Divergent Series: Allegiant
Hacksaw Ridge
The Huntsman: Winterâs War
The Magnificent Seven
Jack Reacher: Never Go Back
Donât Breathe
The Accountant
Lion
Lights Out
Sausage Party
Gods of Egypt
Peteâs Dragon
Skiptrace
Ride Along 2
Deepwater Horizon
I Belonged to You
Allied
The Shallows
The Purge: Election Year
Why Him?
The 5th Wave
Mechanic: Resurrection
Neighbors 2: Sorority Rising
10 Cloverfield Lane
Dirty Grandpa
Cold War 2
Railroad Tigers
How to be Single
Busanhaeng
Ballerina
Some Like It Hot
Money Monster
My Big Fat Greek Wedding 2
Ben-Hur
Office Christmas Party
War Dogs
Collateral Beauty
Ouija: Origin of Evil
Underworld: Blood Wars
The Boss
Manchester by the Sea
Kubo and the Two Strings
Mike and Dave Need Wedding Dates

In [45]:
movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"

In [69]:
movie_list =[]

In [70]:
movie_list.append(CACW_req.text)

In [71]:
movie_list

['{"Title":"Captain America: Civil War","Year":"2016","Rated":"PG-13","Released":"06 May 2016","Runtime":"147 min","Genre":"Action, Adventure, Sci-Fi","Director":"Anthony Russo, Joe Russo","Writer":"Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Joe Simon (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by)","Actors":"Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan","Plot":"Political involvement in the Avengers\' affairs causes a rift between Captain America and Iron Man.","Language":"English, German, Xhosa, Russian, Romanian, Hindi","Country":"USA","Awards":"16 wins & 65 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.8/10"},{"Source":"Rotten Tomatoes","Value":"91%"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"7.8","imdbVotes":"597,664","imdbID":"tt3498820","Type":"movie","DVD":"13 Sep 2016","BoxOffice":"$408,080,554","Production":"Walt Disney Pictures","Website":"http://marvel.com/captainamerica#/home","Response":"True"}']