In [1]:
import requests
from bs4 import BeautifulSoup
import re 
import pandas as pd 
import json
import time

In [2]:
url = 'https://www.the-numbers.com/weekly-box-office-chart'

In [3]:
data = requests.get(url)

In [4]:
data_set = BeautifulSoup(data.text, 'html.parser')

In [10]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
weekly_df = pd.read_html(html.text)[1]
weekly_df.columns = list(df.iloc[0].values)

In [11]:
weekly_df.head()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
0,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
1,2,(2),Good Boys,Universal,"$14,451,735",-13%,3458,"$4,179","$61,459,700",3
2,3,(3),The Lion King,Walt Disney,"$10,684,145",-9%,3190,"$3,349","$524,913,439",7
3,4,(6),Fast & Furious Presents: Ho…,Universal,"$9,719,795",-14%,2972,"$3,270","$160,532,145",5
4,5,(4),Overcomer,Sony Pictures,"$9,409,534",-19%,1827,"$5,150","$20,956,163",2

In [12]:
weekly_df.tail()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
76,77,(86),Christ Stopped at Eboli,Rialto Pictures,$678,+47%,1,$678,"$75,839",2059
77,78,(77),Diamantino,Kino Lorber,$603,-63%,1,$603,"$70,088",15
78,79,(73),Piranhas,Music Box Films,$303,-87%,2,$152,"$19,368",5
79,80,(76),The Mountain,Kino Lorber,$153,-92%,1,$153,"$51,684",6
80,81,(-),Hesburgh,OâMalley Creadon …,$112,NaN,1,$112,"$197,560",19

In [58]:
dates = pd.date_range(start='1/1/2019', periods=55, freq='W-FRI')
dates

DatetimeIndex(['2019-01-04', '2019-01-11', '2019-01-18', '2019-01-25',
               '2019-02-01', '2019-02-08', '2019-02-15', '2019-02-22',
               '2019-03-01', '2019-03-08', '2019-03-15', '2019-03-22',
               '2019-03-29', '2019-04-05', '2019-04-12', '2019-04-19',
               '2019-04-26', '2019-05-03', '2019-05-10', '2019-05-17',
               '2019-05-24', '2019-05-31', '2019-06-07', '2019-06-14',
               '2019-06-21', '2019-06-28', '2019-07-05', '2019-07-12',
               '2019-07-19', '2019-07-26', '2019-08-02', '2019-08-09',
               '2019-08-16', '2019-08-23', '2019-08-30', '2019-09-06',
               '2019-09-13', '2019-09-20', '2019-09-27', '2019-10-04',
               '2019-10-11', '2019-10-18', '2019-10-25', '2019-11-01',
               '2019-11-08', '2019-11-15', '2019-11-22', '2019-11-29',
               '2019-12-06', '2019-12-13', '2019-12-20', '2019-12-27',
               '2020-01-03', '2020-01-10', '2020-01-17'],
              dtype='datetime64[ns]', freq='W-FRI')

In [ ]:
# num = 23 
# older_charts = 'https://www.the-numbers.com/box-office-chart/weekly/2019/08/{num}'

In [ ]:

# df['week_from_loop'] = '2018/01/07'
df.head()


# dates[1].strftime('%Y/%m/%d') # datetime object to a string
# # .strptime (string to datetime object)

# # 2019/08/23
# dates_to_get = ["https://www.the-numbers.com/box-office-chart/weekly/" + 
#          x.strftime('%Y/%m/%d') for x in dates]

In [54]:
years = range(2009,2020)

In [56]:
for year in years:
    url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}' 
    print(url)

https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2009
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2010
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2011
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2012
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2013
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2014
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2015
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2016
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2017
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2018
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2019

In [25]:
url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}'

In [27]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
yearly_df = pd.read_html(html.text)[1]

In [65]:
yearly_df.dropna(inplace=True)

In [68]:
yearly_df.head(50)

,Rank,Movie,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare
0,1,Captain America: Civil War,"$1,140,069,413","$408,084,349","$731,985,064",35.79%
1,2,Rogue One: A Star Wars Story,"$1,049,102,856","$532,177,324","$516,925,532",50.73%
2,3,Finding Dory,"$1,021,215,193","$486,295,561","$534,919,632",47.62%
3,4,Zootopia,"$1,019,429,616","$341,268,248","$678,161,368",33.48%
4,5,The Jungle Book,"$962,854,547","$364,001,123","$598,853,424",37.80%
5,6,The Secret Life of Pets,"$886,606,412","$368,384,330","$518,222,082",41.55%
6,7,Batman v Superman: Dawn of Justice,"$867,500,281","$330,360,194","$537,140,087",38.08%
7,8,Fantastic Beasts and Where to Find Them,"$802,402,853","$234,037,575","$568,365,278",29.17%
8,9,Deadpool,"$801,025,593","$363,070,709","$437,954,884",45.33%
9,10,Suicide Squad,"$746,059,887","$325,100,054","$420,959,833",43.58%
10,11,Doctor Strange,"$676,404,566","$232,641,920","$443,762,646",34.39%
11,12,Moana,"$637,517,365","$248,757,044","$388,760,321",39.02%
12,13,Sing,"$634,454,789","$270,329,045","$364,125,744",42.61%
13,14,Mei Ren Yu,"$554,516,671","$3,229,457","$551,287,214",0.58%
14,15,X-Men: Apocalypse,"$542,537,546","$155,442,489","$387,095,057",28.65%
15,16,Kung Fu Panda 3,"$517,599,142","$143,528,619","$374,070,523",27.73%
16,17,Warcraft,"$438,899,824","$47,365,290","$391,534,534",10.79%
17,18,La La Land,"$426,351,163","$151,101,803","$275,249,360",35.44%
18,19,Jason Bourne,"$416,168,316","$162,192,920","$253,975,396",38.97%
19,20,Ice Age: Collision Course,"$402,156,682","$64,063,008","$338,093,674",15.93%
20,21,Independence Day: Resurgence,"$384,169,424","$103,144,286","$281,025,138",26.85%
21,22,Kimi no na wa,"$361,024,012","$5,000,181","$356,023,831",1.39%
22,23,The Angry Birds Movie,"$352,327,887","$107,509,366","$244,818,521",30.51%
23,24,The Legend of Tarzan,"$348,902,025","$126,643,061","$222,258,964",36.30%
24,25,Trolls,"$344,150,134","$153,707,064","$190,443,070",44.66%
25,26,Star Trek Beyond,"$335,802,233","$158,848,340","$176,953,893",47.30%
26,27,The Great Wall,"$334,486,852","$45,157,105","$289,329,747",13.50%
27,28,Now You See Me 2,"$328,325,007","$65,075,540","$263,249,467",19.82%
28,29,Resident Evil: The Final Chapter,"$314,101,190","$26,844,692","$287,256,498",8.55%
29,30,The Conjuring 2: The Enfield Poltergeist,"$311,262,102","$102,470,008","$208,792,094",32.92%
30,31,Passengers,"$302,239,672","$100,014,699","$202,224,973",33.09%
31,32,Miss Peregrineâs Home for Peculiar Children,"$295,986,876","$87,242,834","$208,744,042",29.48%
32,33,Dangal,"$294,654,618","$12,391,761","$282,262,857",4.21%
33,34,Alice Through the Looking Glass,"$276,928,112","$77,042,381","$199,885,731",27.82%
34,35,Teenage Mutant Ninja Turtles: Out of the Shadows,"$245,328,374","$82,051,601","$163,276,773",33.45%
35,36,Assassinâs Creed,"$240,759,682","$54,647,948","$186,111,734",22.70%
36,37,Sully,"$238,524,556","$125,070,033","$113,454,523",52.43%
37,38,Hidden Figures,"$231,771,716","$169,607,287","$62,164,429",73.18%
38,39,Ghostbusters,"$229,008,658","$128,350,574","$100,658,084",56.05%
39,40,Inferno,"$219,519,367","$34,343,574","$185,175,793",15.64%
40,41,Central Intelligence,"$217,194,805","$127,440,871","$89,753,934",58.68%
41,42,Me Before You,"$208,265,198","$56,245,075","$152,020,123",27.01%
42,43,Bridget Jonesâs Baby,"$205,822,688","$24,139,805","$181,682,883",11.73%
43,44,Arrival,"$203,127,894","$100,546,139","$102,581,755",49.50%
44,45,The BFG,"$199,646,680","$55,483,770","$144,162,910",27.79%
45,46,London Has Fallen,"$195,194,085","$62,524,260","$132,669,825",32.03%
46,47,Xi You Ji zhi Sun Wu Kong San Da Bai Gu Jing,"$194,058,503","$709,982","$193,348,521",0.37%
47,48,Storks,"$183,353,431","$72,679,278","$110,674,153",39.64%
49,50,Bad Moms,"$180,998,716","$113,257,297","$67,741,419",62.57%
50,51,The Girl on the Train,"$174,278,214","$75,395,035","$98,883,179",43.26%

In [66]:
movies = yearly_df['Movie']
year_2016_list = []
for api_req in movies:
    movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"
    try:
        movie_ratings = requests.get(movie_name)
        year_2016_list.append(movie_ratings.text)
    except:

Captain America: Civil War
Rogue One: A Star Wars Story
Finding Dory
Zootopia
The Jungle Book
The Secret Life of Pets
Batman v Superman: Dawn of Justice
Fantastic Beasts and Where to Find Them
Deadpool
Suicide Squad
Doctor Strange
Moana
Sing
Mei Ren Yu
X-Men: Apocalypse
Kung Fu Panda 3
Warcraft
La La Land
Jason Bourne
Ice Age: Collision Course
Independence Day: Resurgence
Kimi no na wa
The Angry Birds Movie
The Legend of Tarzan
Trolls
Star Trek Beyond
The Great Wall
Now You See Me 2
Resident Evil: The Final Chapter
The Conjuring 2: The Enfield Poltergeist
Passengers
Miss Peregrineâs Home for Peculiar Children
Dangal
Alice Through the Looking Glass
Teenage Mutant Ninja Turtles: Out of the Shadows
Assassinâs Creed
Sully
Hidden Figures
Ghostbusters
Inferno
Central Intelligence
Me Before You
Bridget Jonesâs Baby
Arrival
The BFG
London Has Fallen
Xi You Ji zhi Sun Wu Kong San Da Bai Gu Jing
Storks
Bad Moms
The Girl on the Train
Operation Mekong
The Divergent Series: Allegiant
Hacksaw Ridge
The Huntsman: Winterâs War
The Magnificent Seven
Jack Reacher: Never Go Back
Donât Breathe
The Accountant
Lion
Lights Out
Sausage Party
Gods of Egypt
Peteâs Dragon
Skiptrace
Ride Along 2
Deepwater Horizon
I Belonged to You
Allied
The Shallows
The Purge: Election Year
Why Him?
The 5th Wave
Mechanic: Resurrection
Neighbors 2: Sorority Rising
10 Cloverfield Lane
Dirty Grandpa
Cold War 2
Railroad Tigers
How to be Single
Busanhaeng
Ballerina
Some Like It Hot
Money Monster
My Big Fat Greek Wedding 2
Ben-Hur
Office Christmas Party
War Dogs
Collateral Beauty
Ouija: Origin of Evil
Underworld: Blood Wars
The Boss
Manchester by the Sea
Kubo and the Two Strings
Mike and Dave Need Wedding Dates

In [45]:
movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"

In [69]:
movie_list =[]

In [70]:
movie_list.append(CACW_req.text)

In [71]:
movie_list

['{"Title":"Captain America: Civil War","Year":"2016","Rated":"PG-13","Released":"06 May 2016","Runtime":"147 min","Genre":"Action, Adventure, Sci-Fi","Director":"Anthony Russo, Joe Russo","Writer":"Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Joe Simon (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by)","Actors":"Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan","Plot":"Political involvement in the Avengers\' affairs causes a rift between Captain America and Iron Man.","Language":"English, German, Xhosa, Russian, Romanian, Hindi","Country":"USA","Awards":"16 wins & 65 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.8/10"},{"Source":"Rotten Tomatoes","Value":"91%"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"7.8","imdbVotes":"597,664","imdbID":"tt3498820","Type":"movie","DVD":"13 Sep 2016","BoxOffice":"$408,080,554","Production":"Walt Disney Pictures","Website":"http://marvel.com/captainamerica#/home","Response":"True"}']