In [4]:
import requests
from bs4 import BeautifulSoup
import re 
import pandas as pd 
import json
import time

In [2]:
url = 'https://www.the-numbers.com/weekly-box-office-chart'

In [3]:
data = requests.get(url)

In [4]:
data_set = BeautifulSoup(data.text, 'html.parser')

In [10]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
weekly_df = pd.read_html(html.text)[1]
weekly_df.columns = list(df.iloc[0].values)

In [11]:
weekly_df.head()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
0,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
1,2,(2),Good Boys,Universal,"$14,451,735",-13%,3458,"$4,179","$61,459,700",3
2,3,(3),The Lion King,Walt Disney,"$10,684,145",-9%,3190,"$3,349","$524,913,439",7
3,4,(6),Fast & Furious Presents: Ho…,Universal,"$9,719,795",-14%,2972,"$3,270","$160,532,145",5
4,5,(4),Overcomer,Sony Pictures,"$9,409,534",-19%,1827,"$5,150","$20,956,163",2

In [12]:
weekly_df.tail()

,1,(1),Angel Has Fallen,Lionsgate,"$18,346,280",-37%,3336,"$5,499","$47,460,501",2
76,77,(86),Christ Stopped at Eboli,Rialto Pictures,$678,+47%,1,$678,"$75,839",2059
77,78,(77),Diamantino,Kino Lorber,$603,-63%,1,$603,"$70,088",15
78,79,(73),Piranhas,Music Box Films,$303,-87%,2,$152,"$19,368",5
79,80,(76),The Mountain,Kino Lorber,$153,-92%,1,$153,"$51,684",6
80,81,(-),Hesburgh,OâMalley Creadon …,$112,NaN,1,$112,"$197,560",19

In [58]:
dates = pd.date_range(start='1/1/2019', periods=55, freq='W-FRI')
dates

DatetimeIndex(['2019-01-04', '2019-01-11', '2019-01-18', '2019-01-25',
               '2019-02-01', '2019-02-08', '2019-02-15', '2019-02-22',
               '2019-03-01', '2019-03-08', '2019-03-15', '2019-03-22',
               '2019-03-29', '2019-04-05', '2019-04-12', '2019-04-19',
               '2019-04-26', '2019-05-03', '2019-05-10', '2019-05-17',
               '2019-05-24', '2019-05-31', '2019-06-07', '2019-06-14',
               '2019-06-21', '2019-06-28', '2019-07-05', '2019-07-12',
               '2019-07-19', '2019-07-26', '2019-08-02', '2019-08-09',
               '2019-08-16', '2019-08-23', '2019-08-30', '2019-09-06',
               '2019-09-13', '2019-09-20', '2019-09-27', '2019-10-04',
               '2019-10-11', '2019-10-18', '2019-10-25', '2019-11-01',
               '2019-11-08', '2019-11-15', '2019-11-22', '2019-11-29',
               '2019-12-06', '2019-12-13', '2019-12-20', '2019-12-27',
               '2020-01-03', '2020-01-10', '2020-01-17'],
              dtype='datetime64[ns]', freq='W-FRI')

In [ ]:
# num = 23 
# older_charts = 'https://www.the-numbers.com/box-office-chart/weekly/2019/08/{num}'

In [ ]:

# df['week_from_loop'] = '2018/01/07'
df.head()


# dates[1].strftime('%Y/%m/%d') # datetime object to a string
# # .strptime (string to datetime object)

# # 2019/08/23
# dates_to_get = ["https://www.the-numbers.com/box-office-chart/weekly/" + 
#          x.strftime('%Y/%m/%d') for x in dates]

In [54]:
years = range(2009,2020)

In [56]:
for year in years:
    url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}' 
    print(url)

https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2009
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2010
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2011
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2012
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2013
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2014
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2015
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2016
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2017
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2018
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-2019

In [78]:
year = 2016
url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}' 
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
yearly2016_df = pd.read_html(html.text,encoding='utf8')[1]

In [79]:
yearly2016_df['year'] = year

In [ ]:
408,080,554

In [214]:
yearly2016_df[29:32]

,Rank,Movie,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare,year,clean_movie
29,30,The Conjuring 2: The Enfield Poltergeist,"$311,262,102","$102,470,008","$208,792,094",32.92%,2016,The Conjuring 2: The Enfield Poltergeist
30,31,Passengers,"$302,239,672","$100,014,699","$202,224,973",33.09%,2016,Passengers
31,32,Miss Peregrineâs Home for Peculiar Children,"$295,986,876","$87,242,834","$208,744,042",29.48%,2016,Miss Peregrine's Home for Peculiar Children

In [80]:
yearly2016_df.dropna(inplace=True)

In [141]:
yearly2016_df['clean_movie'] = yearly2016_df.Movie.map(lambda x: x.replace("â", "'"))
for movie,year in zip(yearly2016_df.clean_movie, yearly2016_df.year): 
    print(movie,year)

Captain America: Civil War 2016
Rogue One: A Star Wars Story 2016
Finding Dory 2016
Zootopia 2016
The Jungle Book 2016
The Secret Life of Pets 2016
Batman v Superman: Dawn of Justice 2016
Fantastic Beasts and Where to Find Them 2016
Deadpool 2016
Suicide Squad 2016
Doctor Strange 2016
Moana 2016
Sing 2016
Mei Ren Yu 2016
X-Men: Apocalypse 2016
Kung Fu Panda 3 2016
Warcraft 2016
La La Land 2016
Jason Bourne 2016
Ice Age: Collision Course 2016
Independence Day: Resurgence 2016
Kimi no na wa 2016
The Angry Birds Movie 2016
The Legend of Tarzan 2016
Trolls 2016
Star Trek Beyond 2016
The Great Wall 2016
Now You See Me 2 2016
Resident Evil: The Final Chapter 2016
The Conjuring 2: The Enfield Poltergeist 2016
Passengers 2016
Miss Peregrine's Home for Peculiar Children 2016
Dangal 2016
Alice Through the Looking Glass 2016
Teenage Mutant Ninja Turtles: Out of the Shadows 2016
Assassin's Creed 2016
Sully 2016
Hidden Figures 2016
Ghostbusters 2016
Inferno 2016
Central Intelligence 2016
Me Before You 2016
Bridget Jones's Baby 2016
Arrival 2016
The BFG 2016
London Has Fallen 2016
Xi You Ji zhi Sun Wu Kong San Da Bai Gu Jing 2016
Storks 2016
Bad Moms 2016
The Girl on the Train 2016
Operation Mekong 2016
The Divergent Series: Allegiant 2016
Hacksaw Ridge 2016
The Huntsman: Winter's War 2016
The Magnificent Seven 2016
Jack Reacher: Never Go Back 2016
Don't Breathe 2016
The Accountant 2016
Lion 2016
Lights Out 2016
Sausage Party 2016
Gods of Egypt 2016
Pete's Dragon 2016
Skiptrace 2016
Ride Along 2 2016
Deepwater Horizon 2016
I Belonged to You 2016
Allied 2016
The Shallows 2016
The Purge: Election Year 2016
Why Him? 2016
The 5th Wave 2016
Mechanic: Resurrection 2016
Neighbors 2: Sorority Rising 2016
10 Cloverfield Lane 2016
Dirty Grandpa 2016
Cold War 2 2016
Railroad Tigers 2016
How to be Single 2016
Busanhaeng 2016
Ballerina 2016
Some Like It Hot 2016
Money Monster 2016
My Big Fat Greek Wedding 2 2016
Ben-Hur 2016
Office Christmas Party 2016
War Dogs 2016
Collateral Beauty 2016
Ouija: Origin of Evil 2016
Underworld: Blood Wars 2016
The Boss 2016
Manchester by the Sea 2016
Kubo and the Two Strings 2016
Mike and Dave Need Wedding Dates 2016

In [50]:
year = 2017
url = f'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/released-in-{year}' 
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

html = requests.get(url, headers=headers) # avoid the 403
yearly2017_df = pd.read_html(html.text)[1]

In [51]:
yearly2017_df['year'] = year

In [52]:
yearly2017_df.dropna(inplace=True)

In [71]:
yearly2016_df = yearly2016_df.replace(r'\W+', "'", regex=True)

In [102]:
yearly2016_df['Movie'][46]

'Xi You Ji zhi Sun Wu Kong San Da Bai Gu Jing'

In [146]:
movies = yearly2016_df['clean_movie']
year = yearly2016_df['year']
year_2016_list= []
for api_req in movies:
    movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"
    try:
        movie_ratings = requests.get(movie_name).json()
        year_2016_list.append(movie_ratings)
    except ValueError:
        print('Name did not work')

In [385]:

yeardf =pd.DataFrame(year_2016_list)
yeardf.head(15)

,Actors,Awards,BoxOffice,Country,DVD,Director,Error,Genre,Language,Metascore,...,Runtime,Title,Type,Website,Writer,Year,imdbID,imdbRating,imdbVotes,totalSeasons
0,"Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan",16 wins & 65 nominations.,"$408,080,554",USA,13 Sep 2016,"Anthony Russo, Joe Russo",NaN,"Action, Adventure, Sci-Fi","English, German, Xhosa, Russian, Romanian, Hindi",75,...,147 min,Captain America: Civil War,movie,http://marvel.com/captainamerica#/home,"Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Joe Simon (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by)",2016,tt3498820,7.8,"597,664",NaN
1,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen",Nominated for 2 Oscars. Another 23 wins & 78 nominations.,"$532,171,696",USA,04 Apr 2017,Gareth Edwards,NaN,"Action, Adventure, Sci-Fi",English,65,...,133 min,Rogue One: A Star Wars Story,movie,http://www.starwars.com/,"Chris Weitz (screenplay by), Tony Gilroy (screenplay by), John Knoll (story by), Gary Whitta (story by), George Lucas (based on characters created by)",2016,tt3748528,7.8,"486,320",NaN
2,"Ellen DeGeneres, Albert Brooks, Ed O'Neill, Kaitlin Olson",Nominated for 1 BAFTA Film Award. Another 15 wins & 42 nominations.,"$486,292,984",USA,15 Nov 2016,"Andrew Stanton, Angus MacLane(co-director)",NaN,"Animation, Adventure, Comedy, Family","English, Indonesian",77,...,97 min,Finding Dory,movie,http://movies.disney.com/finding-dory,"Andrew Stanton (original story by), Andrew Stanton (screenplay by), Victoria Strouse (screenplay by), Bob Peterson (additional screenplay material by), Angus MacLane (additional story material by)",2016,tt2277860,7.3,"216,980",NaN
3,"Ginnifer Goodwin, Jason Bateman, Idris Elba, Jenny Slate",Won 1 Oscar. Another 45 wins & 65 nominations.,"$341,264,012",USA,07 Jun 2016,"Byron Howard, Rich Moore, Jared Bush(co-director)",NaN,"Animation, Adventure, Comedy, Crime, Family, Mystery",English,78,...,108 min,Zootopia,movie,http://movies.disney.com/zootopia,"Byron Howard (story by), Rich Moore (story by), Jared Bush (story by), Jim Reardon (story by), Josie Trinidad (story by), Phil Johnston (story by), Jennifer Lee (story by), Jared Bush (screenplay by), Phil Johnston (screenplay by)",2016,tt2948356,8.0,"389,615",NaN
4,"Neel Sethi, Bill Murray, Ben Kingsley, Idris Elba",Won 1 Oscar. Another 31 wins & 54 nominations.,"$363,995,937","UK, USA",30 Aug 2016,Jon Favreau,NaN,"Adventure, Drama, Family, Fantasy",English,77,...,106 min,The Jungle Book,movie,http://movies.disney.com/the-jungle-book-2016,"Justin Marks (screenplay by), Rudyard Kipling (based on the books by)",2016,tt3040964,7.4,"244,054",NaN
5,"Louis C.K., Eric Stonestreet, Kevin Hart, Jenny Slate",4 wins & 15 nominations.,"$368,305,960","Japan, USA, France",06 Dec 2016,"Chris Renaud, Yarrow Cheney(co-director)",NaN,"Animation, Adventure, Comedy, Family",English,61,...,87 min,The Secret Life of Pets,movie,http://www.thesecretlifeofpets.com/,"Cinco Paul, Ken Daurio, Brian Lynch",2016,tt2709768,6.5,"167,193",NaN
6,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Eisenberg",14 wins & 30 nominations.,"$293,792,936",USA,19 Jul 2016,Zack Snyder,NaN,"Action, Adventure, Sci-Fi",English,44,...,151 min,Batman v Superman: Dawn of Justice,movie,http://www.facebook.com/batmanvsuperman,"Chris Terrio, David S. Goyer, Bob Kane (Batman created by), Bill Finger (Batman created by), Jerry Siegel (Superman created by), Joe Shuster (Superman created by), William Moulton Marston (character created by: Wonder Woman)",2016,tt2975590,6.5,"582,918",NaN
7,"Eddie Redmayne, Sam Redford, Scott Goldman, Tim Bentinck",Won 1 Oscar. Another 14 wins & 51 nominations.,"$234,018,657","UK, USA",28 Mar 2017,David Yates,NaN,"Adventure, Family, Fantasy","English, Khmer",66,...,132 min,Fantastic Beasts and Where to Find Them,movie,http://www.fantasticbeasts.com/,J.K. Rowling,2016,tt3183660,7.3,"371,194",NaN
8,"Ryan Reynolds, Karan Soni, Ed Skrein, Michael Benyaer",Nominated for 2 Golden Globes. Another 27 wins & 73 nominations.,"$328,674,489",USA,10 May 2016,Tim Miller,NaN,"Action, Adventure, Comedy, Sci-Fi",English,65,...,108 min,Deadpool,movie,http://www.foxmovies.com/deadpool,"Rhett Reese, Paul Wernick",2016,tt1431045,8.0,"833,944",NaN
9,"Will Smith, Jaime FitzSimons, Ike Barinholtz, Margot Robbie",Won 1 Oscar. Another 16 wins & 37 nominations.,"$325,021,779",USA,13 Dec 2016,David Ayer,NaN,"Action, Adventure, Fantasy, Sci-Fi","English, Japanese, Spanish",40,...,123 min,Suicide Squad,movie,http://www.suicidesquad.com/,David Ayer,2016,tt1386697,6.0,"543,236",NaN
10,"Benedict Cumberbatch, Chiwetel Ejiofor, Rachel McAdams, Benedict Wong",Nominated for 1 Oscar. Another 20 wins & 64 nominations.,"$232,630,718",USA,28 Feb 2017,Scott Derrickson,NaN,"Action, Adventure, Fantasy, Sci-Fi",English,72,...,115 min,Doctor Strange,movie,http://marvel.com/doctorstrange,"Jon Spaihts, Scott Derrickson, C. Robert Cargill, Stan Lee (based on the Marvel comics by), Steve Ditko (based on the Marvel comics by)",2016,tt1211837,7.5,"528,816",NaN
11,"Auli'i Cravalho, Dwayne Johnson, Rachel House, Temuera Morrison",Nominated for 2 Oscars. Another 18 wins & 83 nominations.,"$248,752,120",USA,07 Mar 2017,"Ron Clements, John Musker, Don Hall(co-director), Chris Williams(co-director)",NaN,"Animation, Adventure, Comedy, Family, Fantasy, Musical",English,81,...,107 min,Moana,movie,http://movies.disney.com/moana,"Jared Bush (screenplay by), Ron Clements (story by), John Musker (story by), Chris Williams (story by), Don Hall (story by), Pamela Ribon (story by), Aaron Kandell (story by), Jordan Kandell (story by)",2016,tt3521164,7.6,"231,108",NaN
12,"Matthew McConaughey, Reese Witherspoon, Seth MacFarlane, Scarlett Johansson",Nominated for 2 Golden Globes. Another 2 wins & 21 nominations.,"$270,322,940","Japan, USA",21 Mar 2017,"Garth Jennings, Christophe Lourdelet(co-director)",NaN,"Animation, Comedy, Family, Musical","English, Japanese, Ukrainian",59,...,108 min,Sing,movie,http://www.singmovie.com/,Garth Jennings,2016,tt3470600,7.1,"118,085",NaN
13,"Jenny Hu, Han Chin, Yi Ling Chen, Chok Chow Cheung",N/A,N/A,Hong Kong,N/A,Chia-Hsiang Wu,NaN,"Comedy, Musical, Romance",Mandarin,N/A,...,89 min,Pen huo mei ren yu,movie,N/A,I. Fang Yeh (screenplay),1970,tt0430162,6.2,16,NaN
14,"James McAvoy, Michael Fassbender, Jennifer Lawrence, Nicholas Hoult",1 win & 14 nominations.,"$135,729,385",USA,04 Oct 2016,Bryan Singer,NaN,"Action, Adventure, Sci-Fi","English, Polish, German, Arabic, Egyptian (Ancient)",52,...,144 min,X-Men: Apocalypse,movie,https://www.facebook.com/xmenmovies,"Simon Kinberg (screenplay by), Bryan Singer (story by), Simon Kinberg (story by), Michael Dougherty (story by), Dan Harris (story by)",2016,tt3385516,7.0,"363,160",NaN

In [213]:
yeardf['Title'][29:31]

29    NaN
30    Passengers
Name: Title, dtype: object

In [152]:
temp = [{'Source': 'Internet Movie Database', 'Value': '7.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '91%'}, {'Source': 'Metacritic', 'Value': '75/100'}]

In [ ]:
def movie_list_to_dictionary(movie_list)
    movie_list_of_dicts = [ast.literal_eval(movie_rating_list) for movie in movie_rating_list]
    return movie_list_of_dicts

In [215]:
[x.get('Value') for x in temp if x.get('Source') == 'Rotten Tomatoes']

['91%']

In [404]:
def get_tomato_score(row):
    try:
        tomato_val = [x.get('Value') for x in row if x.get('Source') == 'Rotten Tomatoes'][0]
        tomato_val = tomato_val.replace('%','')
        return int(tomato_val)
    except:
        return (None)

In [405]:
yeardf['Rotten_Score'] = yeardf.Ratings.map(get_tomato_score)

In [406]:
def imdb_clean(row):
    try:
        return float(row) * 10
    except:
        return(None)

In [407]:
def get_meta_score(row):
    try:
        return int(row)
    except:
        return(None)

In [408]:
yeardf['Metacritic_Score'] = yeardf.Metascore.map(get_meta_score)

In [409]:
yeardf['Imdb_Score'] = yeardf.imdbRating.map(imdb_clean)

In [410]:
type(yeardf['Imdb_clean'][0])

KeyError: 'Imdb_clean'

In [411]:
joining_df = yeardf[['Title','Rotten_Score','Metacritic_Score','Imdb_Score']].set_index('Title')

In [412]:
joining_df.head(50)

,Rotten_Score,Metacritic_Score,Imdb_Score
Title,,,
Captain America: Civil War,91.0,75.0,78.0
Rogue One: A Star Wars Story,84.0,65.0,78.0
Finding Dory,94.0,77.0,73.0
Zootopia,97.0,78.0,80.0
The Jungle Book,95.0,77.0,74.0
The Secret Life of Pets,73.0,61.0,65.0
Batman v Superman: Dawn of Justice,28.0,44.0,65.0
Fantastic Beasts and Where to Find Them,74.0,66.0,73.0
Deadpool,84.0,65.0,80.0
Suicide Squad,27.0,40.0,60.0
Doctor Strange,89.0,72.0,75.0
Moana,96.0,81.0,76.0
Sing,72.0,59.0,71.0
Pen huo mei ren yu,NaN,NaN,62.0
X-Men: Apocalypse,47.0,52.0,70.0
Kung Fu Panda 3,87.0,66.0,71.0
Warcraft: The Beginning,28.0,32.0,68.0
La La Land,91.0,93.0,80.0
Jason Bourne,55.0,58.0,66.0
Ice Age: Collision Course,17.0,34.0,57.0
Independence Day: Resurgence,29.0,32.0,52.0
Kimi no na wa,NaN,NaN,NaN
The Angry Birds Movie,44.0,43.0,63.0
The Legend of Tarzan,36.0,44.0,62.0
Trolls,75.0,56.0,65.0
Star Trek Beyond,86.0,68.0,71.0
The Great Wall,36.0,42.0,59.0
Now You See Me 2,34.0,46.0,65.0
Resident Evil: The Final Chapter,37.0,49.0,55.0
NaN,NaN,NaN,NaN
Passengers,30.0,41.0,70.0
Miss Peregrine's Home for Peculiar Children,64.0,57.0,67.0
Dangal,88.0,NaN,84.0
Alice Through the Looking Glass,29.0,34.0,62.0
Teenage Mutant Ninja Turtles: Out of the Shadows,37.0,40.0,60.0
Assassin's Creed,18.0,36.0,57.0
Sully,85.0,74.0,74.0
Hidden Figures,93.0,74.0,78.0
Ghostbusters,97.0,71.0,78.0
Inferno,23.0,42.0,62.0
Central Intelligence,71.0,52.0,63.0
Me Before You,55.0,51.0,74.0
Bridget Jones's Baby,78.0,59.0,65.0
Arrival,94.0,81.0,79.0
The BFG,75.0,66.0,64.0
London Has Fallen,26.0,28.0,59.0
NaN,NaN,NaN,NaN
Storks,66.0,56.0,68.0
Bad Moms,58.0,60.0,62.0
The Girl on the Train,44.0,48.0,65.0

In [413]:
yearly2016_df = yearly2016_df[['Worldwide Box Office','Domestic Box Office','International Box Office',
                               'DomesticShare','year','clean_movie']].set_index('clean_movie')

KeyError: "['clean_movie'] not in index"

In [457]:
final_df = yearly2016_df.join(joining_df,on='clean_movie',how='inner')

In [196]:
import json

In [45]:
# movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"

In [139]:
json.loads(year_2016_list[0])

{'Title': 'Captain America: Civil War',
 'Year': '2016',
 'Rated': 'PG-13',
 'Released': '06 May 2016',
 'Runtime': '147 min',
 'Genre': 'Action, Adventure, Sci-Fi',
 'Director': 'Anthony Russo, Joe Russo',
 'Writer': 'Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Joe Simon (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by)',
 'Actors': 'Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan',
 'Plot': "Political involvement in the Avengers' affairs causes a rift between Captain America and Iron Man.",
 'Language': 'English, German, Xhosa, Russian, Romanian, Hindi',
 'Country': 'USA',
 'Awards': '16 wins & 65 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '91%'},
  {'Source': 'Metacritic', 'Value': '75/100'}],
 'Metascore': '75',
 'imdbRating': '7.8',
 'imdbVotes': '597,664',
 'imdbID': 'tt3498820',
 'Type': 'movie',
 'DVD': '13 Sep 2016',
 'BoxOffice': '$408,080,554',
 'Production': 'Walt Disney Pictures',
 'Website': 'http://marvel.com/captainamerica#/home',
 'Response': 'True'}

In [95]:
len(year_2016_list)

94

In [134]:
import ast
year_2016_list_of_dicts = [ast.literal_eval(movie) for movie in (year_2016_list)]
year_2016_list_of_dicts[1]['Ratings'][2]['Value']

'65/100'

In [136]:
year_2016_list_of_dicts[0]

{'Title': 'Captain America: Civil War',
 'Year': '2016',
 'Rated': 'PG-13',
 'Released': '06 May 2016',
 'Runtime': '147 min',
 'Genre': 'Action, Adventure, Sci-Fi',
 'Director': 'Anthony Russo, Joe Russo',
 'Writer': 'Christopher Markus (screenplay by), Stephen McFeely (screenplay by), Joe Simon (based on the Marvel comics by), Jack Kirby (based on the Marvel comics by)',
 'Actors': 'Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan',
 'Plot': "Political involvement in the Avengers' affairs causes a rift between Captain America and Iron Man.",
 'Language': 'English, German, Xhosa, Russian, Romanian, Hindi',
 'Country': 'USA',
 'Awards': '16 wins & 65 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '91%'},
  {'Source': 'Metacritic', 'Value': '75/100'}],
 'Metascore': '75',
 'imdbRating': '7.8',
 'imdbVotes': '597,664',
 'imdbID': 'tt3498820',
 'Type': 'movie',
 'DVD': '13 Sep 2016',
 'BoxOffice': '$408,080,554',
 'Production': 'Walt Disney Pictures',
 'Website': 'http://marvel.com/captainamerica#/home',
 'Response': 'True'}

In [ ]:
def movie_list_to_dictionary(movie_list)
    movie_list_of_dicts = [ast.literal_eval(movie_rating_list) for movie in movie_rating_list]
    return movie_list_of_dicts

In [97]:
"Assassinâs Creed".replace("â", "'")

"Assassin's Creed"

In [ ]:
Assassinâs Creed

In [93]:
api_req = 'Bridget Joness Baby'
year = 2016
movie_name = f"http://www.omdbapi.com/?t={api_req}&y={year}&apikey=b213361e"

In [94]:
movie_name

'http://www.omdbapi.com/?t=Bridget Joness Baby&y=2016&apikey=b213361e'

In [323]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [459]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, Captain America: Civil War to Mike and Dave Need Wedding Dates
Data columns (total 8 columns):
Worldwide Box Office        80 non-null object
Domestic Box Office         80 non-null object
International Box Office    80 non-null object
DomesticShare               80 non-null object
year                        80 non-null int64
Rotten_Score                80 non-null float64
Metacritic_Score            80 non-null float64
Imdb_Score                  80 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 5.6+ KB

In [458]:
final_df = final_df.dropna()

In [460]:
final_df.head(5)

,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare,year,Rotten_Score,Metacritic_Score,Imdb_Score
clean_movie,,,,,,,,
Captain America: Civil War,"$1,140,069,413","$408,084,349","$731,985,064",35.79%,2016,91.0,75.0,78.0
Rogue One: A Star Wars Story,"$1,049,102,856","$532,177,324","$516,925,532",50.73%,2016,84.0,65.0,78.0
Finding Dory,"$1,021,215,193","$486,295,561","$534,919,632",47.62%,2016,94.0,77.0,73.0
Zootopia,"$1,019,429,616","$341,268,248","$678,161,368",33.48%,2016,97.0,78.0,80.0
The Jungle Book,"$962,854,547","$364,001,123","$598,853,424",37.80%,2016,95.0,77.0,74.0

In [461]:
listvalues =[]
for value in final_df['Worldwide Box Office']:
    listvalues.append(int(value.replace('$','').replace(',','')))
print(listvalues)

[1140069413, 1049102856, 1021215193, 1019429616, 962854547, 886606412, 867500281, 802402853, 801025593, 746059887, 676404566, 637517365, 634454789, 542537546, 517599142, 426351163, 416168316, 402156682, 384169424, 352327887, 348902025, 344150134, 335802233, 334486852, 328325007, 314101190, 302239672, 295986876, 276928112, 245328374, 240759682, 238524556, 231771716, 229008658, 219519367, 217194805, 208265198, 205822688, 203127894, 199646680, 195194085, 183353431, 180998716, 174278214, 168904682, 165149302, 162525156, 159946489, 158973685, 152962083, 149570720, 148806510, 141344255, 138836756, 137768975, 131202537, 124827316, 122603824, 119266661, 118763442, 118514727, 117425156, 111336398, 109738840, 108757621, 108286422, 105078449, 95697808, 93466095, 92096558, 91669648, 91323299, 86234503, 85309093, 81831866, 81209222, 78652207, 77733867, 77548122, 75898100]

In [462]:
def clean_money(column):
    for value in column:
        return (int(value.replace('$','').replace(',','')))

In [463]:
DBOlistvalues =[]
for value in final_df['Domestic Box Office']:
    DBOlistvalues.append(int(value.replace('$','').replace(',','')))
print(DBOlistvalues)

[408084349, 532177324, 486295561, 341268248, 364001123, 368384330, 330360194, 234037575, 363070709, 325100054, 232641920, 248757044, 270329045, 155442489, 143528619, 151101803, 162192920, 64063008, 103144286, 107509366, 126643061, 153707064, 158848340, 45157105, 65075540, 26844692, 100014699, 87242834, 77042381, 82051601, 54647948, 125070033, 169607287, 128350574, 34343574, 127440871, 56245075, 24139805, 100546139, 55483770, 62524260, 72679278, 113257297, 75395035, 67209615, 48003015, 93432655, 58697076, 89217875, 86260045, 51739495, 67268835, 97670358, 31153464, 76233151, 1792, 90862685, 61433527, 40098064, 55121623, 79042440, 60323786, 34912982, 21218403, 55340730, 72082999, 35593113, 42230, 41012075, 59689605, 26410477, 54767494, 43034523, 31016021, 35144505, 30353973, 63077560, 47695371, 48023088, 46009673]

In [464]:
IBOlistvalues =[]
for value in final_df['International Box Office']:
    IBOlistvalues.append(int(value.replace('$','').replace(',','')))
print(IBOlistvalues)

[731985064, 516925532, 534919632, 678161368, 598853424, 518222082, 537140087, 568365278, 437954884, 420959833, 443762646, 388760321, 364125744, 387095057, 374070523, 275249360, 253975396, 338093674, 281025138, 244818521, 222258964, 190443070, 176953893, 289329747, 263249467, 287256498, 202224973, 208744042, 199885731, 163276773, 186111734, 113454523, 62164429, 100658084, 185175793, 89753934, 152020123, 181682883, 102581755, 144162910, 132669825, 110674153, 67741419, 98883179, 101695067, 117146287, 69092501, 101249413, 69755810, 66702038, 97831225, 81537675, 43673897, 107683292, 61535824, 131200745, 33964631, 61170297, 79168597, 63641819, 39472287, 57101370, 76423416, 88520437, 53416891, 36203423, 69485336, 95655578, 52454020, 32406953, 65259171, 36555805, 43199980, 54293072, 46687361, 50855249, 15574647, 30038496, 29525034, 29888427]

In [465]:
final_df['Worldwide Box Office'] = listvalues

In [466]:
final_df['Domestic Box Office'] = DBOlistvalues

In [467]:
final_df['International Box Office'] = IBOlistvalues

In [468]:
final_df.head()

,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare,year,Rotten_Score,Metacritic_Score,Imdb_Score
clean_movie,,,,,,,,
Captain America: Civil War,1140069413,408084349,731985064,35.79%,2016,91.0,75.0,78.0
Rogue One: A Star Wars Story,1049102856,532177324,516925532,50.73%,2016,84.0,65.0,78.0
Finding Dory,1021215193,486295561,534919632,47.62%,2016,94.0,77.0,73.0
Zootopia,1019429616,341268248,678161368,33.48%,2016,97.0,78.0,80.0
The Jungle Book,962854547,364001123,598853424,37.80%,2016,95.0,77.0,74.0

In [448]:
final_df['Worldwide Box Office'].mean()

306611626.125

In [451]:
final_df['Domestic Box Office'][0] - final_df['Domestic Box Office'].mean()

290421317.0875

In [450]:
final_df['International Box Office'].mean()

188948594.2125

In [472]:
DS = final_df['Domestic Box Office'][0] / final_df['Worldwide Box Office'][0]
DS

0.357946932306656

In [473]:
def clean_percentage(row):
    for val in row:
        return float(val.replace('%','')*10)

In [474]:
final_df['DomesticShare'] = final_df.DomesticShare.map(clean_percentage)

TypeError: 'float' object is not iterable

In [475]:
final_df.head()

,Worldwide Box Office,Domestic Box Office,International Box Office,DomesticShare,year,Rotten_Score,Metacritic_Score,Imdb_Score
clean_movie,,,,,,,,
Captain America: Civil War,1140069413,408084349,731985064,3.0,2016,91.0,75.0,78.0
Rogue One: A Star Wars Story,1049102856,532177324,516925532,5.0,2016,84.0,65.0,78.0
Finding Dory,1021215193,486295561,534919632,4.0,2016,94.0,77.0,73.0
Zootopia,1019429616,341268248,678161368,3.0,2016,97.0,78.0,80.0
The Jungle Book,962854547,364001123,598853424,3.0,2016,95.0,77.0,74.0

In [296]:
final_df['Metacritic_Score'].mean()

56.0

In [297]:
final_df['Imdb_Score'].mean()

66.8375

In [299]:
final_df['Rotten_Score'].mean()

59.1125

In [350]:
final_df['International Box Office'] = final_df['International Box Office'].apply(clean_money)

In [ ]:
def my_func(row):
    # row is the entire row of the dataframe row['colname']
    return row['close'] > row['high']

df['newcol'] = df.apply(my_func, axis=1) #axis= 1 is row-wise
df.head()

In [348]:
(int(final_df['International Box Office'][0].replace('$','').replace(',','')))

731985064